# mail API
GATSBY_MAIL_API_URL=http://localhost:3000/api/canadaclb/mail

# staging environment, leave empty or put staging
GATSBY_DEPLOYMENT_ENV=

# myfuturesaver global configs
GATSBY_MYFUTURESAVER_EMAIL=

GATSBY_MYFUTURESAVER_SERVER_URL=http://localhost:3000

# build tool environment variables
AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

CLOUDFRONT_ID=

S3_BUCKET=
